version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2021.07
    steps:
    - checkout
    - run:
        name: "Build app changes"
        command: |
          echo "building..."
  test:
    docker:
      - image: cimg/base:2021.07
    steps:
    - checkout
    - run:
        name: "Testing app changes"
        command: |
          echo "testing..."
  deploy:
    docker:
      - image: cimg/base:2021.07
    steps:
    - checkout
    - run:
        name: "Deployment to production"
        command: |
          echo "deploying to production..."

workflows:
  my-workflow:
    jobs:
    - build
    - test:
        requires:
        - build
    - hold-deployment-for-approval:
        type: approval
        requires:
        - test
        filters:
          branches:
            only:
              - main
    - deploy:
        context:
          - prod_secrets
          - admin_approval
        requires:
          - hold-deployment-for-approval
        filters:
            branches:
              only:
                - main
